.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: lightseagreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
}

.footerRight ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.footerRight ul li {
    cursor: pointer;
    padding-right: 10px;

}

.footerRight ul li a {
    text-decoration: none;
    color: lightseagreen;
}

.footerRight ul li a:hover {
    color: rgb(189, 52, 7);
}